*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white !important;
    position: relative;
    max-width: 100%;
    width: auto;
}
button {
    border-radius: 10px;
}