.footer{
    max-width: 100%;
    width: auto;
    height: 20em;
    background-color: #9DD4FB;
}
.footCenter{
    height: 100%;
    width: 95%;
    margin: auto;
    position: relative;
    
}
.footFirst{
    height: 10em;
    width: 100%;
    position: absolute;
    top: 15px;
    display: flex;
    gap: 13em;
    flex-direction: row;
}
.footFirstParts{
    height: 100%;
    width: 200px;
}
.partsItems{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.decoration {
    text-decoration: none;
    color: white;
}
.partsItems:hover a {
    text-decoration: underline;
}
.marginTop25{
    margin-top: 25px;
}
.fontSize27{
    font-size: 25px;
}
.partsItems:hover a {
    text-decoration: underline;
}
.decoration{
    text-decoration: none;
}
.fontSize16{
    font-size: 16px;
    color: white;
}
.footSecond{
    height: 3em;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
}
.footAddress{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footAddressTwo{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 20;
}
.posAbs{
    height: 6.5em;
    width: 6.5em;
    position: absolute;
    bottom: 5em;
    right: 15em;
    z-index: 10;
}
.posAbs img {
    object-fit: cover;
}


@media only screen and (max-width: 690px) {
    .footer {
        width: 44em;
    }
    .footFirst {
        gap: 5em;
    }
    .posAbs {
        height: 3em;
        width: 3em;
        right: 10em;
    }
    .posAbs img {
        width: 150px;
        height: 100px;
        position: absolute;
        bottom: -5.5em;
        right: 50%;
    }
    .footAddress {
        margin-left: 20px;
    }
    .footSecond {
        bottom: 6em;
    }

}
@media screen and (max-width: 500px) {
    .footer {
        width: 30em;
    }
    .footFirst {
        gap: 3em;
    }
    .posAbs {
        height: 2em;
        width: 2em;
        right: 5em;
    }
    .posAbs img {
        width: 150px;
        height: 75px;
    }
    
}
@media screen and (max-width: 400px) {
    .footer {
        width: 20em;
    }
    .posAbs {
        height: 1.5em;
        width: 1.5em;
    }
    .posAbs img {
        width: 100px;
        height: 50px;
    }
    .footAddress {
        width: 150px;
    }
}

@media screen and (max-width: 300px) {
    .footer {
        width: 15em;
    }
    .footFirst {
        gap: 1em;
    }
    .posAbs {
        height: 1em;
        width: 1em;
        right: 2em;
    }
    .posAbs img {
        width: 75px;
        height: 37.5px;
    }
    
}
@media screen and (max-width: 639px) {
    .footFirst {
        gap: 1em;
    }    
    .footAddressTwo {
        text-overflow: ellipsis;
    }
}