* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.bgMainColor {
  background-color: #9dd4fb;
}
.textWhite {
  color: white;
}
.head {
  max-width: 100%;
  width: auto;
  height: 6.5em;
  border-bottom: 1px solid white;
}
.nav {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.waterfallLogo {
  height: 100%;
  width: 6.5em;
}
.waterfallLogo img {
  object-fit: cover;
}
.icons {
  height: 100%;
  width: 18em;
  margin-right: 10em;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5em;
  /* background-color: chartreuse; */
}
.fontSize {
  font-size: 20px;
}
.accountText {
  font-size: 20px;
}
.icons a {
  padding-top: 0.4em;
}
.decoration {
  text-decoration: none;
  color: white;
}
.basketCount {
  color: white;
  font-size: 13px;
  position: absolute;
  top: -5px;
}
.favCount {
  color: white;
  font-size: 13px;
  position: absolute;
  left: 65px;
  top: 35px;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .icons {
    width: 100%;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
    position: absolute;
    bottom: -1.5em;
    z-index: 2;
  }
  .waterfallLogo img {
    width: 100px;
    height: 103px;
    position: absolute;
    top: -10px;
  }
  .accountText {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .icons {
    gap: 1em;
    width: 100%;
  }
  .fontSize {
    font-size: 16px;
  }
  .accountText {
    display: none;
  }
}
@media (max-width: 458px) {
  .head {
    width: 140vw;
  }
}
